<!DOCTYPE html>
{% load static %}
<html>

<head>
	<title>Samuel Adeyemi</title>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47692315-56"></script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-47692315-56');
	</script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-47692315-56');
	</script>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<meta name="referrer" content="no-referrer-when-downgrade">


	<!--One styliing

	<li class="social-a" nk href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap"
		rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	end of one styling-->

	<link rel="stylesheet" href="{% static 'frontend/css/style.css' %}" />


	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap" rel="stylesheet">



	<link rel="stylesheet" type="text/css" href="{% static 'frontend/css/default.css' %}">
	<link id="theme-style" rel="stylesheet" type="text/css" href="">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />


</head>

<!--Start of Tawk.to Script
<script type="text/javascript">
	var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
	(function () {
		var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
		s1.async = true;
		s1.src = 'https://embed.tawk.to/64b7c87194cf5d49dc648ef4/1h5mue00l';
		s1.charset = 'UTF-8';
		s1.setAttribute('crossorigin', '*');
		s0.parentNode.insertBefore(s1, s0);
	})();
</script>
<!--End of Tawk.to Script-->


<body>

	<section class="home">
		<div class="container-1">
			<div class="home-title align">
				<h1 class="mg-b">Samuel Adeyemi</h1>
				<h2 class="lead">Full Stack Dev</h2>
			</div>
			<div class="d-flex pos">
				<h5 class="u-center-text">Chose a Theme</h5>
				<div id="theme-options-wrapper">
					<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					<div data-mode="light" id="blue-mode" class="theme-dot"></div>
					<div data-mode="green" id="green-mode" class="theme-dot"></div>
					
					<!--<div data-mode="blue" id="light-mode" class="theme-dot"></div>-->
				</div>

				<!--<p id="settings-note">*Theme settings will be saved for<br>your next vist</p>-->
			</div>


			<div class="site-wrapper">
				{% include 'base/navbar.html' %}

				<div class="left-column animate__animated animate__fadeInLeft">
					<img id="profile_pic" src="{% static 'img/photo_113.png' %}" class="mb-1">
				</div>

				<div class="right-column animate__animated animate__zoomIn">

					<!--<div id="preview-shadow" class="align-items-center">
						<div id="preview" class="pos2">
							<div id="corner-tl" class="corner align-g"></div>
							<div id="corner-tr" class="corner align-g"></div>
							<h3>What I Do</h3>
							<p>I was a research & graduate assitant at University, now I tickle my brain with
								projects and coding.</p>
							<h3>Who are mine</h3>
							<p>I'm a passionate developer but more importantly I'm passionate about technology.</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>-->
				</div>
			</div>
		</div>
	</section>


	<section class="about-wrapper s2">
		<div class="main-container">
			<div class="row mb-4 align">
				<div class="u-center-text align animate__animated animate__bounceInDown" data-aos="">
					<h2 class="about_section-title mb-1">More about me</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-1-of-2 animate__animated animate__fadeInLeft" data-aos="fade-up" data-aos-delay="200">

					<div id="skills">
						<p class='m-txt'>I am passionate full stack software Engineer and I used python,
							Django-framework, CSS3,
							HTLM,
							React and basic javascript to build new projects.</p>
					</div>
					<br> <br> <br> <br> <br> <br>
					<div id="skills">
						<p m-txt>While I keep busy learning, coding & working with team, I still take interviews in
							search
							of a
							great team & projects
							that interest me.</p>
					</div>



				</div>
				<div class="col-1-of-2 animate__animated animate__fadeInRight">
					<div id="skills" style="display: block !important;" class="u-center-text">
						<h4 style="display:inline-block;">TOP EXPERTISE</h4>
						<br>
						<p>Fullstack developer with primary focus on Django + React:</p>
					</div>
					<div class=" row align mb-4 ">
						<p><a class="align" target="_blank" href="{% static 'resumee.pdf' %}">Download Resume</a></p>
					</div>

					<div id="skills" style="display: block !important;" class="font-1 u-center-text">
						<h4 style="display:inline-block;">TOP Kits</h4>
						<div style="display: flex !important; gap: 3rem" class="align">
							<ul>
								<li>Python</li>
								<li>Django</li>

								<li>React</li>
								<li>Postgres</li>
							</ul>
							<ul>
								<li>Payment API</li>
								<li>JavaScript</li>
								<li>Heroku</li>
								<li>HTML/CSS</li>
							</ul>
						</div>

					</div>

				</div>

			</div>


			<div class=" row mg-4 m-t aos-init aos-animate" data-aos="fade-up">
				<ul class="row align dl">

					<li class="social-a"><a target="_blank" href="https://github.com/Samco2"><img
								src="{% static 'img/github.png' %}" class="team-mate-icon"></a>
					</li>
					<li class="social-a"><a target="_blank" href="https://twitter.com/"><img
								src="{% static 'img/twitter.png' %}" class="team-mate-icon"></a>
					</li>
					<li class="social-a"><a target="_blank"
							href="https://www.linkedin.com/in/samuel-adeyemi-881768285/"><img
								src="{% static 'img/linkedin.png' %}" class="team-mate-icon"></a>
					</li>
					<li class="social-a"><a target="_blank" href="https://www.instagram.com"><img
								src="{% static 'img/instagram.png' %}" class="team-mate-icon"></a>
					</li>
				</ul>


				<!--<div class="social-links">
					<img id="social_img" src="{% static 'img/follow.jpg' %}">
					<h3>Find me on Twitter & Youtube</h3>

					<a target="_blank" href="https://www.youtube.com/c/samco">YouTube: @samco</a>
					<br>
					<a target="_blank" href="https://twitter.com/samco11">Twitter: @samco</a>
				</div>-->

			</div>
		</div>
	</section>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">Some of my past projects</h3>

			<div id="slider">
				<input type="radio" name="slider" id="slide1" checked>
				<input type="radio" name="slider" id="slide2">
				<input type="radio" name="slider" id="slide3">
				<input type="radio" name="slider" id="slide4">
				<!-- <input type="radio" name="slider" id="slide5"> -->
				<div id="slides">
					<div id="overflow">
						<div class="inner">
							{% for post in posts %}
							<div class="slide slide{% if forloop.counter0 == 0%} active {% endif %}">
								<div class="slide-content">
									<div class="post">
										<img class="thumbnail" src="{{post.image.url}}">

									</div>
									<div class="post-preview">
										<h2 class="post-title">{{post.headline}}</h2>
										<h6 class="post-intro">{{post.sub_headline}}</h6>
										<a href="{%  url 'project' post.slug %}">Read More</a>
										<br>
										{% if post.link is not None %}
										<a href="{{post.link}}" target="_blank" class="">
											Actual-website
										</a>
										{% endif %}
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				<div id="controls">
					<label for="slide1"></label>
					<label for="slide2"></label>
					<label for="slide3"></label>
					<label for="slide4"></label>
					<!-- <label for="slide5"></label> -->
				</div>
				<div id="bullets">
					<label for="slide1"></label>
					<label for="slide2"></label>
					<label for="slide3"></label>
					<label for="slide4"></label>
					<!-- <label for="slide5"></label> -->
				</div>
			</div>

			<!--<div class="post-wrapper">
				{% for post in posts %}
				<div>
					<div class="post">
						<img class="thumbnail" src="{{post.image.url}}">
						<div class="post-preview">
							<h6 class="post-title">{{post.headline}}</h6>
							<p class="post-intro">{{post.sub_headline}}</p>
							<a href="{%  url 'project' post.slug %}">Read More</a>
							{% if post.link is not None %}
							<a href="{{post.link}}" target="_blank" class="">
								Actual-website
							</a>
							
						</div>
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>-->

			<p style="float:right">
				<a href="{% url 'projects' %}">View More &rarr; </a>
			</p>
		</div>
	</section>

	<section class="s2">
		<container>
			<div class="row">
				<div class="col-1-of-2 ov">
					<h3 style="text-align: center;">What people Say</h3>
					<div class="container">
						<div class="row align">
							<div class="slider-con">
								<div class="wrapper">
									<div class="slider-holder">
										<div id="slider-1">
											<div class="owl-item cloned">
												<div>
													<div class="testimonial">
														<blockquote class="mb-4">
															<p class="mg-s">“Lorem ipsum dolor sit amet consectetur
																adipisicing elit.
																Consectetur unde reprehenderit aperiam quaerat fugiat
																repudiandae explicabo animi minima fuga beatae illum
																eligendi
																incidunt consequatur. Amet dolores excepturi earum unde
																iusto.”
															</p>
														</blockquote>
														<figure class="u-margin-bottom-small  d-flex align">
															<div><img src="static/img/ben_thompson.jpg" alt="Image"
																	class="w-50 img-fluid mb-1">
															</div>
															<p>Robert Spears</p>
														</figure>
													</div>
												</div>
											</div>
										</div>
										<div id="slider-2">
											<div class="owl-item cloned">
												<div>
													<div class="testimonial">
														<blockquote class="u-margin-bottom-small">
															<p class="mg-s">“Samuel is an an incredible team player,
																always willing
																to lend a helping
																hand and he actively collaborate with colleagues,
																sharing his knowledge generously..”</p>
														</blockquote>
														<figure class="u-margin-bottom-small d-flex align">
															<div><img src="static/img/dave_simpson.jpg" alt="Image"
																	class="w-50 img-fluid mb-1">
															</div>
															<p>Bruce Rogers</p>
														</figure>
													</div>
												</div>
											</div>
										</div>
										<div id="slider-3">
											<div class="owl-item active">
												<div>
													<div class="testimonial">
														<blockquote class="u-margin-bottom-small">
															<p class="mg-s">“I am opportune to work with Samuel; he is
																an excellent &
																motivating personality to work with.His outstanding
																problem-solving skills,
																technical proficiency and consistence for cut-edge ideas
																is exceptional.

																”</p>
														</blockquote>
														<figure class="u-margin-bottom-small d-flex align">
															<div><img src="static/img/chris_stewart.jpg" alt="Image"
																	class="w-50 img-fluid mb-1">
															</div>
															<p>John Smith</p>
														</figure>
													</div>
												</div>
											</div>
										</div>
										<div id="slider-4">
											<div class="owl-item">
												<div>
													<div class="testimonial">
														<blockquote class="u-margin-bottom-small">
															<p class="mg-s">“Lorem ipsum dolor sit amet consectetur
																adipisicing elit.
																Consectetur unde reprehenderit aperiam
																quaerat fugiat repudiandae explicabo
																animi
																minima fuga beatae illum eligendi
																incidunt consequatur. Amet dolores
																excepturi earum unde iusto.”
															</p>
														</blockquote>
														<figure class="u-margin-bottom-small d-flex align">
															<div><img src="static/img/benjamin_frank.jpg" alt="Image"
																	class="w-50 img-fluid mb-1">
															</div>
															<p>Christine Aguilar</p>
														</figure>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="button-holder">
									<span href="#slider-1" class="dots"></span>
									<span href="#slider-2" class="dots"></span>
									<span href="#slider-3" class="dots"></span>
									<span href="#slider-4" class="dots"></span>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="col-1-of-2">

					<a href=""></a>
					<h3 style="text-align: center;">Get In Touch</h3>
					<form id="contact-form" method="POST" action="{% url 'send_email' %}">
						{% csrf_token %}
						<a name="contact"></a>
						<label>Name</label>
						<input required class="input-field" type="text" name="name">
						<label>Subject</label>
						<input required class="input-field" type="text" name="subject">
						<label>Email</label>
						<input required class="input-field" type="text" name="email">
						<label>Message</label>
						<textarea required class="input-field" name="message"></textarea>
						<input id="submit-btn" type="submit" value="Send">
					</form>

				</div>

			</div>
		</container>
	</section>

	<script type="text/javascript">
		let static = "{% static 'css' %}"
	</script>

	<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

</body>

</html>